<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{name}}</title>
</head>
<body>
    房间:{{name}}
    <br/>
    <br/>


    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
</body>
</html>