<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{name}}</title>
</head>
<body>
    房间:{{name}}
    <br/>
    <br/>
    {{count}}人在线

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on('msg', function (data) {
        console.log(JSON.stringify(data));
      });
    </script>
</body>
</html>